build/reports/configuration-cache/376i0eaugmrh1k2oakf92f44/7k2fctytw8rgoebcfe218brqj/configuration-cache-report.html
build/reports/configuration-cache/376i0eaugmrh1k2oakf92f44/emexe92jwue2mn6e27mda011r/configuration-cache-report.html
build/reports/configuration-cache/6gtrbw3rgbyhdg6qydm9gn5sk/1vbuigp0w1km4sbicsw4mj6m8/configuration-cache-report.html
.gradle/file-system.probe
.gradle/workspace-id.txt
.gradle/workspace-id.txt.lock
.gradle/8.1.1/gc.properties
.gradle/8.1.1/checksums/checksums.lock
.gradle/8.1.1/checksums/md5-checksums.bin
.gradle/8.1.1/checksums/sha1-checksums.bin
.gradle/8.1.1/dependencies-accessors/dependencies-accessors.lock
.gradle/8.1.1/dependencies-accessors/gc.properties
.gradle/8.1.1/executionHistory/executionHistory.bin
.gradle/8.1.1/executionHistory/executionHistory.lock
.gradle/8.1.1/fileChanges/last-build.bin
.gradle/8.1.1/fileHashes/fileHashes.bin
.gradle/8.1.1/fileHashes/fileHashes.lock
.gradle/8.1.1/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/configuration-cache/configuration-cache.lock
.gradle/configuration-cache/gc.properties
.gradle/configuration-cache/376i0eaugmrh1k2oakf92f44/buildfingerprint.bin
.gradle/configuration-cache/376i0eaugmrh1k2oakf92f44/entry.bin
.gradle/configuration-cache/376i0eaugmrh1k2oakf92f44/projectfingerprint.bin
.gradle/configuration-cache/376i0eaugmrh1k2oakf92f44/work.bin
.gradle/configuration-cache/6gtrbw3rgbyhdg6qydm9gn5sk/buildfingerprint.bin
.gradle/configuration-cache/6gtrbw3rgbyhdg6qydm9gn5sk/entry.bin
.gradle/configuration-cache/6gtrbw3rgbyhdg6qydm9gn5sk/projectfingerprint.bin
.gradle/configuration-cache/6gtrbw3rgbyhdg6qydm9gn5sk/work.bin
.gradle/configuration-cache/ila6gxrvblgsrw0fn4pnu2lp/buildfingerprint.bin
.gradle/configuration-cache/ila6gxrvblgsrw0fn4pnu2lp/entry.bin
.gradle/configuration-cache/ila6gxrvblgsrw0fn4pnu2lp/projectfingerprint.bin
.gradle/configuration-cache/ila6gxrvblgsrw0fn4pnu2lp/work.bin
.gradle/vcs-1/gc.properties
.idea/assetWizardSettings.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/misc.xml
build/reports/configuration-cache/ila6gxrvblgsrw0fn4pnu2lp/aakwc9o38ldnwnrt8ali22xwj/configuration-cache-report.html
